@media screen and (max-width: 1015px) {
  .header__search {
    /* display: none !important; */
    width: auto !important;
    display: none;
  }

  /* .header__login .subscribe {
    font-size: 12px !important;
    padding: 10px !important;
    margin-right: 5px !important;
  } */

  /* .offer__list-item {
    grid-template-columns: 1fr 1fr !important;
  } */
}

@media screen and (min-width: 1016px) and (max-width: 1140px) {
  .header__search {
    /* display: none !important; */
    width: auto !important;
    display: none;
  }

  /* .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr !important;
  } */
}

@media screen and (max-width: 375px) {
  .playlist {
    display: none;
  }

  .playlist-container {
    width: 100%; /* Ocupa toda a largura disponível */
    height: auto; /* Altura automática, ajusta conforme o conteúdo */
  }

  .sidebar {
    width: 342px;
  }

  .offer__list-item {
    grid-template-columns: 1fr;
  }

  .offer__scroll-container {
    overflow-y: visible;
  }

}
/* Dispositivos muito pequenos (até 374px) */
@media screen and (max-width: 374px) {
  .playlist {
    display: none;
  }

  .playlist-container {
    width: 100%;
    height: auto;
  }

  .sidebar {
    width: 100%;
  }

  .offer__list-item {
    grid-template-columns: 1fr;
  }

  .offer__scroll-container {
    overflow-y: visible;
  }
}

/* Smartphones pequenos (375px a 599px) */
@media screen and (min-width: 375px) and (max-width: 599px) {
  .sidebar {
    width: 100%;
  }

  .header__search {
    display: none;
  }

  .offer__list-item {
    grid-template-columns: 1fr;
  }
}

/* Tablets e dispositivos médios (600px a 1015px) */
@media screen and (min-width: 600px) and (max-width: 1015px) {
  .header__search {
    width: auto !important;
    display: none;
  }

  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
}

/* Laptops pequenos e telas intermediárias (1016px a 1140px) */
@media screen and (min-width: 1016px) and (max-width: 1140px) {
  .header__search {
    width: auto !important;
    display: none;
  }

  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Telas grandes (1141px ou mais) */
@media screen and (min-width: 1141px) {
  .header__search {
    display: block;
  }

  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
